:root {
  --main-color: #c03920;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;
  --nav-height: 60px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  padding-top: var(--nav-height);
}

a{
  text-decoration: none;
}

img{
  max-width: 100% ;
}

.main-color{
  color: var(--main-color);
}

.container{
  max-width: 1920px;
  padding: 0 40px;
  margin: auto;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.nav-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  height: var(--nav-height);
}

.nav a{
  color: var(--text-color);
}